.app-container {
  position: relative;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows: 1fr 1fr;    
  gap: 0;
  height: 100vh;
}

.reset-wrapper {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.controls-wrapper {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;  /* Two equal rows */
  place-items: center;
  height: 100%;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;

  /*LAYOUT TYPE*/   
  display: grid;
}