.environment-container {
  grid-column: 2 / 4;
  grid-row: 1;
  
  /* Standard box model */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.environment-container h1 {
  white-space: nowrap;
  text-decoration: underline;
}
